#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  margin-bottom: 20px;
}

.read-the-docs {
  color: #888;
}

.table-container {
  height: 500px;
  width: 100%;
  overflow-y: auto;
}

.header-title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin: 20px 0;
  z-index: 10; /* ป้องกัน element อื่นทับ */
  position: relative;
}

.menu-wrapper {
  max-height: 500px;
  overflow-y: auto;
  padding-right: 5px;
}

.menu-card {
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.menu-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.menu-card-active {
  border: 2px solid #0d6efd;
  box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.25);
}

.menu-img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  object-fit: cover;
}

.menu-title {
  font-size: 18px;
  font-weight: 600;
}

.menu-price {
  font-size: 16px;
}




/* ของorder.jsx */
.order-card {
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 14px;
}

.order-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.order-card.active {
  border: 3px solid #0d6efd;
  background: #f0f7ff;
}





